<footer>
  <section class="logo">
    <img src="../../../assets/images/ps-white-logo.svg" alt="PS logo" />
    <div>
      <img src="../../../assets/images/world-icon.svg" alt="world icon" />
      <span>País/região: Brasil</span>
    </div>
  </section>

  <section class="links">
    <div>
      <a>Suporte</a>
      <a>Política de privacidade</a>
      <a>Termos de uso do site</a>
      <a>Mapa do site</a>
      <a>PlayStation Studios</a>
      <a>Legal</a>
      <a>Sobre a SIE</a>
    </div>

    <div>
      <a>Termos de serviço da PSN</a>
      <a>Política de cancelamento da PS Store</a>
      <a>Avisos de saúde</a>
      <a>Sobre as classificações</a>
    </div>

    <div>
      <a>Facebook</a>
      <a>Twitter</a>
      <a>YouTube</a>
      <a>Instagram</a>
      <a>Aplicativo para Android</a>
      <a>Aplicativo para iOS</a>
    </div>
  </section>

  <p>
    © 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.
  </p>
</footer>
