header {
  width: 100%;

  background-color: #fff;

  position: fixed;
  z-index: 1;

  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .logo {
    width: 150px;

    position: absolute;
    left: 10px;
  }

  button {
    cursor: pointer;

    padding: 2px 18px;
    border-radius: 16px;
  }

  button:hover {
    background-color: #f2f2f2;
  }

  button:focus {
    background-color: #ced5da;
  }
}
