@import "src/scss/_media-queries";
@import "src/scss/_mixins";
@import "src/scss/_themes";

.ps-store-menu {
  padding: 10px;

  @include flex($justifyContent: space-between);

  position: sticky;
  top: 0;
  z-index: 1;

  background-color: $c-white;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  @include mobile-only() {
    @include flex($direction: column, $alignItems: flex-start, $gap: 20px);
  }

  &__nav-bar {
    @include flex($gap: 25px, $justifyContent: center);
    flex: 1;

    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      padding: 2px 10px;
      border-radius: 16px;
    }

    a:hover {
      background-color: $c-light-gray-2;
    }

    a:focus {
      background-color: $c-gray;
    }

    @include mobile-only() {
      width: 100%;
      padding: 0;

      @include flex($gap: 2px, $alignItems: flex-end);
    }
  }
}
