<div class="ps-store-menu">
  <a
    href="https://store.playstation.com/pt-br/pages/latest"
    class="ps-store-menu__logo"
  >
    <img
      src="../../../assets/images/ps-store-logo.png"
      alt="PS Store Logo"
      width="150"
    />
  </a>

  <nav class="ps-store-menu__nav-bar">
    <a href="#" (click)="changePageTitle('Novidades ')">Novidades</a>
    <a href="#" (click)="changePageTitle('Coleções ')">Coleções</a>
    <a href="#" (click)="changePageTitle('Ofertas ')">Ofertas</a>
    <a href="#" (click)="changePageTitle('PS5 ')">PS5</a>
    <a href="#" (click)="changePageTitle('Assinaturas ')">Assinaturas</a>
    <a href="#" (click)="changePageTitle('Navegar ')">Navegar</a>
  </nav>
</div>
