@import "src/scss/_media-queries";
@import "src/scss/_mixins";
@import "src/scss/_themes";

.banner {
  height: 350px;
  width: 100%;

  margin: 50px 0;

  background: url("../../../assets/images/banner.jpg");
  background-size: cover;

  position: relative;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  img {
    width: 250px;

    margin-left: 30%;
  }

  div {
    width: 100%;

    position: absolute;
    bottom: 0;

    padding: 20px 30px;

    background-color: $c-white;
    color: $c-dark-gray;

    @include flex($justifyContent: space-between);

    @include mobile-only() {
      @include flex($direction: column, $alignItems: flex-start, $gap: 10px);
    }
  }

  button {
    background-color: $c-blue-1;
    color: $c-white;

    padding: 8px 16px;
    border-radius: 14px;

    font-size: 0.825rem;
    font-weight: bold;

    cursor: pointer;
  }
}
