<div class="ps-menu">
  <nav class="ps-menu__nav-bar">
    <a href="https://www.playstation.com">
      <img
        src="../../../assets/images/ps-blue-logo.svg"
        alt="PS logo"
        width="40"
      />
    </a>

    <div>
      <a href="#">
        Jogos
        <ng-icon name="bootstrapChevronDown"></ng-icon>
      </a>
      <a href="#">
        Hardware
        <ng-icon name="bootstrapChevronDown"></ng-icon>
      </a>
      <a href="#">
        Serviços
        <ng-icon name="bootstrapChevronDown"></ng-icon>
      </a>
      <a href="#">
        Notícias
        <ng-icon name="bootstrapChevronDown"></ng-icon>
      </a>
      <a href="#">
        Loja
        <ng-icon name="bootstrapChevronDown"></ng-icon>
      </a>
      <a href="#">
        Suporte
        <ng-icon name="bootstrapChevronDown"></ng-icon>
      </a>
    </div>
  </nav>

  <div class="ps-menu__buttons">
    <button type="button">Iniciar sessão</button>
    <ng-icon name="bootstrapSearch"></ng-icon>
  </div>
</div>
