@import "src/scss/_media-queries";
@import "src/scss/_mixins";
@import "src/scss/_themes";

.ps-menu {
  @include flex($justifyContent: space-between);

  padding: 0 10px;

  @include hide-on-mobile();

  &__nav-bar {
    @include flex();

    a {
      color: $c-light-gray-1;

      font-size: 12px;

      margin-right: 8px;
    }

    a:hover {
      color: $c-blue-1;
    }

    ng-icon {
      font-size: 10px;
    }
  }

  &__buttons {
    @include flex($gap: 10px);

    ng-icon {
      color: $c-dark-gray;
    }

    button {
      background-color: $c-blue-1;
      color: $c-white;

      padding: 2px 6px;
      border-radius: 14px;

      font-size: 0.825rem;
      font-weight: bold;

      cursor: pointer;
    }

    button:hover {
      filter: brightness(0.9);
    }
  }
}
